---
import DesktopNav from '@/components/layout/DesktopNav.astro';
import Hamburger from '@/components/layout/Hamburger.astro';
import MobileNav from '@/components/layout/MobileNav.astro';
---

<div class='nav-wrapper'>
  <nav class='navbar container'>
    <DesktopNav id='desktopNavigation' />
    <MobileNav id='mobileNavigation' />
    <span class='mozzabella-mobile'>
      <a class='mozzabella' href='/'>mozzabella</a>
    </span>
    <Hamburger id='hamburgerButton' />
  </nav>
</div>

<style>
  .mozzabella {
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: var(--accent-primary);
  }

  .mozzabella-mobile {
    margin: auto;
  }

  .nav-wrapper {
    /* Positioning */
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 1000;

    /* Box Model */
    width: 100%;

    /* Border */
    border-bottom: var(--border-primary);

    background-color: var(--primary);
  }

  .navbar {
    /* Positioning */
    height: 100px;
    overflow: hidden;

    /* Box Model */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Mobile Devices - Phones/Tablets */
  @media (width >= 768px) {
    .mozzabella-mobile {
      display: none;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      align-items: center;
    }
  }
</style>

<script>
  import { $ } from '@/lib/dom-selector';

  function toggleMenu(nav: HTMLElement | null) {
    nav?.classList.toggle('mobile-nav');
  }
  document.addEventListener('astro:page-load', function () {
    const menuButton = $('#hamburgerButton');

    menuButton?.addEventListener('hamburgerButtonClick', function () {
      const nav = $('#mobileNavigation');
      toggleMenu(nav);
    });
  });
</script>
