@tailwind base;
@tailwind components;

:root {
  /*
    https://tailwindcss.com/docs/customizing-colors
  */
  --primary: #f7f6ef; /* white */
  --secondary: #131313; /* black */
  --tertiary: #f7f6efcc; /* white-75 */
  --color-dark: var(--secondary);
  --color-light: var(--primary);
  --accent-primary: #d23729; /* red-600 */
  --accent-primary-state: #b82a1d; /* red-700 */
}

@layer base {
  html,
  body {
    @apply h-full w-full;
  }

  body {
    @apply bg-primary text-color-dark;
    font-family: 'Inter Variable', serif;
  }
}
