---
import Slider from '@/components/Slider.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title='Mozzabella' description='Mozzabella | Pizzeria Italiana para toda la familia'>
  <main>
    <Slider />
  </main>
</Layout>
