---
import Promotions from '@/sections/Promotions.astro';
import Slider from '@/sections/Slider.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title='Mozzabella' description='Mozzabella | Pizzeria Italiana para toda la familia'>
  <main>
    <Slider />
    <Promotions />
  </main>
</Layout>
