---
import type { IMenuItem } from '@/lib/types/menuItems';

import MenuItem from '@/components/MenuItem.astro';

interface Props {
  id: string;
  menuItems: IMenuItem[];
}

const { id, menuItems = [] } = Astro.props;
---

<section id={id} class='menu'>
  <div class='container'>
    <div class='menu-grid'>
      {
        menuItems.map((item) => (
          <MenuItem image={item.image} title={item.title} description={item.description} />
        ))
      }
    </div>
  </div>
</section>
<style lang='scss'>
  /*   section::before {
    display: block;
    content: ' ';
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;
  } */
  .menu-grid {
    padding-block: 2rem;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
</style>
