---
import PromotionCard from '@/components/PromotionCard.astro';
---

<section>
  <header>
    <h2>Promociones</h2>
    <div class='subheader'>Nos gusta darte <span>alegrías</span></div>
  </header>
  <div class='container'>
    <div class='cards-container'>
      <PromotionCard title='Para toda la familia' description='2 familiares' price='19,99€' />
      <PromotionCard title='Una para ti y otra para...' description='2 medianas' price='15,99€' />
      <PromotionCard title='Hoy no comparto' description='1 individual' price='9,99€' />
    </div>
  </div>
</section>

<style lang='scss'>
  section {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: var(--border-primary);

    header {
      padding-block: 2rem;
      h2 {
        font-size: var(--font-xl);
        font-weight: 300;
      }

      .subheader {
        font-family: var(--font-serif);
        font-size: var(--font-2xl);
        span {
          color: var(--accent-primary);
        }
      }
    }
    .cards-container {
      display: grid;
      grid-template-columns: minmax(333px, 433px);
      justify-content: center;
      gap: 1rem;
    }
  }

  @media (min-width: 992px) {
    section {
      Extracted PromotionsCar .cards-container {
        grid-template-columns: repeat(3, minmax(220px, 433px));
      }
    }
  }
</style>
