---
import '@/styles/globals.css';
import '@fontsource-variable/inter';
import '@fontsource/merriweather/700-italic.css';
import '@fontsource/merriweather/300.css';

import type { SeoProps } from '@/lib/types/seoProps';

import { ViewTransitions } from 'astro:transitions';

import Nav from '@/components/Nav.astro';
import Seo from '@/components/Seo.astro';

interface Props extends SeoProps {}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <Seo
      canonical={canonical}
      description={description}
      image={image}
      preload={preload!}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
