---
import '@/styles/globals.css';
import '@/styles/globals.scss';

import type { SeoProps } from '@/lib/types/seoProps';

import { ViewTransitions } from 'astro:transitions';

import Seo from '@/components/Seo.astro';

interface Props extends SeoProps {}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <Seo
      canonical={canonical}
      description={description}
      image={image}
      preload={preload!}
      title={title}
    />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
